name: Publish to NuGet

on:
  push:
    tags: ['v*']

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'
      
      - name: Build
        run: dotnet build -c Release
      
      - name: Pack
        run: dotnet pack -c Release -o ./artifacts --no-build

      - name: NuGet Login
        uses: NuGet/login@v1
        id: login
        with:
          user: ${{ secrets.NUGET_USER }}
      
      - name: PAUSE - Change policy owner now
        run: |
          echo "API KEY OBTAINED"
          echo "NOW GO CHANGE THE POLICY OWNER TO Jgkakga"
          echo "You have 60 seconds..."
          sleep 60
      
      - name: Push to NuGet
        run: dotnet nuget push ./artifacts/*.nupkg --api-key ${{ steps.login.outputs.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json
